.title {
  color: var(--black);
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 100px;
}

.overview {
  display: flex;
  justify-content: stretch;
  padding-bottom: 100px;
  gap: 60px;

  .memory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &_btn {
      background-color: #f9fafe;
      color: var(--black);
      padding: 8px 16px;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      border: 1px solid #f9fafe;

      &_active {
        border: 1px solid var(--bright-purple);
      }
    }

  }

  //Todo: create Price Component

  .price {
    //position: relative;

    &_value {
      position: relative;

      span {
        color: var(--black);
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
      }

      .price_discount {
        position: absolute;
        top: 50%;
        left: 100%;
        margin-right: -50%;
        margin-left: 10px;
        transform: translateY(-50%);

        &_value {
          padding: 4px 8px;
          background: var(--exotic-pink);
          color: var(--white);
          border-radius: 8px;
          font-size: 12px;
          font-weight: 300;
          line-height: 18px;
          min-width: 48px;
          text-align: center;
        }
      }

      //position: relative;
    }

    &_old {
      //position: absolute;
      //top: 0;
      //margin-top: -20px;
      //left: 0;
      //margin-right: -50%;
      color: var(--purple-gray);
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      text-decoration: line-through;
    }


  }

  .button {
    padding: 6px 24px;
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 600;

    svg {
      width: 36px;
      height: 36px;
    }
  }

  .cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  .gallery {
    width: 520px;
    height: 100%;

    .main_info {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 31px;
      grid-row-gap: 20px;
      width: 100%;
      margin: 32px 0;

      .info_item {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .info_icon {
        width: 24px;
        height: 24px;
      }

      .info {
        font-size: 14px;
        line-height: 16px;

        &_title {
          color: #7B7189;
          font-weight: 400;
        }

        &_value {
          color: var(--black);
          font-weight: 600;
        }
      }

    }
  }

  .data {
    width: 659px;
  }

  .block {
    width: 100%;
    padding: 19px 20px;
    border-radius: 12px;
    border: 1px solid var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_down {
      border-radius: 12px 12px 0 0;
      //border-bottom: none;
    }

    &_up {
      border-radius: 0 0 12px 12px;
      border-top: none;
      padding: 19px 20px 20px;
    }

    &_gap {
      margin-bottom: 20px;
    }
  }

  .credit {
    &_info {
      display: flex;
      flex-direction: column;

      &_title {
        color: var(--purple-gray, #514761);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }

      &_value {
        color: var(--black, #1E1D21);
        font-size: 22px;
        font-weight: 500;
        line-height: 28px;
      }
    }

    &_banks {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;

      &_item {
        display: flex;
        align-items: center;
        padding: 13px 9px;
        border-radius: 12px;
        border: 1px solid var(--light-gray);
      }
    }

    &_btn {
      font-size: 16px;
      line-height: 24px;

      svg * {
        fill: var(--bright-purple);
      }
    }
  }

  .del_item {
    display: flex;
    //align-items.js: center;
    gap: 12px;

    p {
      color: var(--purple-gray);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;

      b {
        font-weight: 600;
        color: var(--black);
      }
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .date {
    color: var(--black, #1E1D21);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
  }

  .cost {
    text-align: right;
    color: var(--black, #1E1D21);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */

    .free {
      color: var(--bright-pink);
    }
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .consult_btn {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    white-space: nowrap;
  }
}

.feedback {
  .flex_center {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    margin: 40px 0;
  }

  .rating {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 16px;
    border-radius: 12px;
    font-size: 10px;
    line-height: 1px;
    border: 1px solid var(--light-gray);

    &_value {
      color: var(--black);
      font-size: 28px;
      font-weight: 400;
      line-height: 34px;
    }
  }

  .leave_review {
    display: flex;
    align-items: center;
    gap: 20px;

    &_btn {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      gap: 10px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .review_variants {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    margin-bottom: 80px;

    &_item {
      padding: 12px 24px;
      border-radius: 12px;
      background-color: #F9FAFE;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }
}

.reviews {
  &_title {
    display: flex;
    align-items: center;
  }

  h5 {
    color: var(--black);
    /* H5 */
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-right: 8px;
  }

  .show_img {
    transform: rotate(90deg);
    transition: transform .3s ease;

    &_active {
      transform: rotate(-90deg);
    }
  }

  &_gallery {
    margin-top: 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  &_inner {
    margin-top: 60px;
    display: flex;
    gap: 60px;
  }
}

.shortProduct {
  width: 460px;

  &_card {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--light-gray);
    display: grid;
    grid-template-columns: 132px auto;
    gap: 16px;
    margin-bottom: 60px;
  }

  &_img {
    height: 164px;

    img {
      width: 100%;
      height: 100%;
      //object-fit: cover;
    }
  }

  &_info {
    .buy {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 29px;

      .price {
        position: relative;

        &_value {
          color: var(--black);
          font-size: 20px;
          font-weight: 600;
          line-height: 26px;
        }

        &_old {
          position: absolute;
          top: 0;
          margin-top: -20px;
          left: 0;
          margin-right: -50%;
          color: var(--purple-gray);
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          text-decoration: line-through;
        }

        &_discount {
          position: absolute;
          top: 50%;
          left: 100%;
          margin-right: -50%;
          margin-left: 10px;
          transform: translateY(-50%);

          &_value {
            padding: 4px 8px;
            background: var(--exotic-pink);
            color: var(--white);
            border-radius: 8px;
            font-size: 12px;
            font-weight: 300;
            line-height: 18px;
            min-width: 48px;
            text-align: center;
          }
        }

      }

      .cart svg {
        //width: 24px;
        //height: 24px;
      }

    }
  }

  &_name {
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
  }

  &_rating {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;

    &_value {
      //color: var(--purple-gray, #69657B);
      color: #69657B;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  &_text {

  }
}

.list {
  &_header {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &_variant {
    padding: 8px 16px;
    border-radius: 12px;
    opacity: 0.8;
    background-color: #F9FAFE;
  }

  .search {
    position: relative;

    &_input {
      width: 200px;
      padding: 8px 16px 8px 47px;

      &::placeholder {
        font-size: 16px;
      }
    }

    .icon {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);

      * {
        fill: var(--purple-gray);
      }
    }
  }

  &_items {

  }

  &_item {

  }

}
