.btn {
  color: var(--purple-gray, #514761);
  font-size: 20px;
  line-height: 26px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
    width: 100%;
    opacity: 0;
    background-color: var(--bright-purple);
    transition: opacity .3s ease;
  }

  &.active {
    color: var(--bright-purple);
    font-weight: 600;

    &::after {
      opacity: 1;
    }
  }
}

.container {
  display: flex;
  gap: 60px;
  padding-bottom: 1px;
  border-bottom: 1px solid #e5eaf8;
}
