.toggle {
  display: flex;
  border-radius: 12px;
  padding: 8px;
  position: relative;

  &_light {
    &.toggle_en {
      border: 1px solid var(--bright-purple);

      .activeBg {
        background: var(--lavander);
      }

      .toggle_button {
        color: var(--bright-purple);
      }
    }

    &.toggle_ua {
      .activeBg {
        background: var(--light-blue);
      }

      .toggle_button {
        color: var(--ukraine-blue);
      }
    }
  }

  &_dark {
    &.toggle_en {
      border: 1px solid var(--lavander);

      .activeBg {
        background: var(--dark-purple);
      }

      .toggle_button {
        color: var(--lavander);
      }
    }

    &.toggle_ua {
      .activeBg {
        background: var(--ukraine-blue);
      }

      .toggle_button {
        color: var(--light-blue);
      }
    }
  }

  &_ua {
    border: 1px solid transparent;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: -1px;
      z-index: 0;
      height: calc(50% + 1px);
      width: calc(100% + 2px);
      border: 1px solid;
      box-sizing: border-box;
    }

    &::before {
      top: -1px;
      border-color: var(--ukraine-blue);
      border-bottom: none;
      border-radius: 12px 12px 0 0;
    }

    &::after {
      bottom: 0;
      border-color: var(--ukraine-yellow);
      border-top: none;
      border-radius: 0 0 12px 12px;
    }
  }

  .btn_wrapper {
    position: relative;
    z-index: 1;
  }

  .activeBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    transition: transform 0.3s ease;
    border-radius: 8px;
  }

  .en {
    transform: translateX(0%);
  }

  .ua {
    transform: translateX(100%);
  }

  &_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 8px;
    z-index: 2;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;

    //&_light {
    //  color: var(--bright-purple);
    //
    //  &_active {
    //    color: var(--white);
    //  }
    //}

    //&_dark {
    //  color: #885aff;
    //
    //  &.active {
    //    color: #a27eff;
    //  }
    //}
  }
}