.main {
  display: flex;
  flex-direction: column;
  //align-items: center;
  border-radius: 12px;
  border: 1px solid #E0E4F0;
  background: #FFF;
  padding: 20px;
  max-width: 240px;

  .image_block {
    display: flex;
    justify-content: center;
  }

  .colors {
    display: flex;
    justify-content: center;
    margin: 12px 0;

    .color {
      position: relative;
      margin: 0 6px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      cursor: pointer;

      &::before {
        content: '';
        display: none;
        position: absolute;
        width: 16px;
        height: 16px;
        border: 1px solid #5826DA;
        border-radius: 50%;
        top: -2px;
        left: -2px;
      }

      &_active {
        &::before {
          display: block;
        }
      }


    }
  }

  .name {
    max-width: 200px;
    color: var(--color-black);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 6px;
  }

  .reviews {
    display: flex;
    align-items: center;

    svg {
      margin: 2px;
    }

    .star_disabled * {
      fill: var(--gray);
    }

    .review {
      color: var(--purple-gray);
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      margin-left: 8px;
    }
  }

  .buy {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      position: relative;

      &_old {
        position: absolute;
        top: -100%;
        left: 0;
        margin-right: -50%;
      }


    }

    .discount {

    }
  }
}