//body {
//  font-family: Inter, sans-serif;
//}

* {
  font-family: Inter, sans-serif;
  font-style: normal;
}

.wrapper {
  margin: 0 auto;
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}