:root {
  // base
  --font-family: 'Fira sans', sans-serif;
  --content-width: 1230px;

  // colors
  --white: #ffffff;
  --black: #1e1d21;
  --bright-purple: #5826da;
  --bright-pink: #c840a8;
  --exotic-pink: #e8467c;
  --calm-orange: #fa7e47;
  --warm-yellow: #f6c660;
  --bright-yellow: #faf894;
  --purple-gray: #524b5b;
  --gray: #aea8b7;
}