.button {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);

  svg {
    width: 21px;
    height: 21px;
    margin-right: 10px;

    * {
      fill: var(--white);
    }
  }

  &_contained {
    background-color: var(--bright-purple);
  }

  &_outlained {
    border: 2px solid var(--bright-purple);
    background: #FFF;
    color: var(--bright-purple);
    svg {
        width: 21px;
        height: 21px;
        margin-right: 10px;
    
        * {
          fill: var(--bright-purple);
        }
      }
  }

  &_small {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding: 16px 32px;
  }

  &_middle {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
  }

}