.button {
  //box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  padding: 8px 16px;
  border: 1px solid var(--light-gray);
  height: 42px;
  gap: 10px;
  transition: background-color .4s ease-in, color .4s ease-in;


  svg {
    width: 21px;
    height: 21px;
    margin-right: 10px;

    * {
      transition: fill .4s ease-in;
      fill: var(--white);
    }
  }

  &_primary {
    min-width: 194px;
    height: 48px;
    padding: 12px 24px;
    color: var(--white);
    background-color: var(--bright-purple);
  }

  &_outlined {
    border: 2px solid var(--bright-purple);
    background: var(--white);
    color: var(--bright-purple);
    min-width: 194px;
    height: 48px;
    padding: 12px 24px;

    svg {
      width: 21px;
      height: 21px;
      margin-right: 10px;

      * {
        fill: var(--bright-purple);
      }
    }
  }

  &_small {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding: 16px 32px;
  }

  &_middle {
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
  }

  &_filter {
    color: var(--black);
    font-weight: 500;

    &.active {
      background-color: var(--light-gray);
      color: var(--bright-purple);
      border: 1px solid var(--light-gray);
    }
  }

  &-clicked {
    background-color: var(--light-gray);
    color: var(--bright-purple);

    svg * {
      fill: var(--bright-purple);
    }
  }

}