.accessories {
  .filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 40px;

    .filter {
      color: var(--black);
      font-weight: 500;

      &-active {
        background-color: var(--light-gray);
        color: var(--bright-purple);
        border: 1px solid var(--light-gray);
      }
    }
  }

  .category {

  }
}