.table {
	width: 1240px;
	margin-left: auto;
	margin-right: auto;

&_title {
	text-align: left;
	font-weight: 500;
	font-size: 32px;
	line-height: 1.25;
	margin-bottom: 15px;
}
&_titleShort {
	text-align: left;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.33;
	margin-bottom: 10px;
}

&_wrapper {
	width: 100%;
	padding: 20px;
	border: 1px solid #e0e4f0;
	border-radius: 12px;
}


&_topic {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.25;
	color: var(--purple-gray);
}
&_data {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: var(--black);
}
&_feature {
	width: 500px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: var(--purple-gray);
}
&_featureShort {
	width: 200px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: var(--purple-gray);
}
}

.table_wrapper>li {
	display: flex;
	gap: 10px;
		height: 30px;
			line-height: 30px;
	border-bottom: 1px solid #e0e4f0;
}

.table_wrapper>li:last-child {
	border-bottom: none;
}


.list {
	display: flex;
	flex-direction: column;
	&_item {
		display: flex;
		border-bottom: 1px solid #e0e4f0;
	}
				&_item:last-child {
			border-bottom: none;
		}
}
.specification {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #e0e4f0;

	&_topic {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.25;
		color: var(--purple-gray);
		border-bottom: 1px solid #e0e4f0;
	}
		&:last-child {
			border-bottom: none;
		}

}
.tableShort {
	width: 460px;
}
