.table {
	width: 1240px;
	margin-left: auto;
	margin-right: auto;
}
.title {
	text-align: left;
	font-weight: 500px;
	font-size: 24px;
	line-height: 1.33;
	margin-bottom: 15px;
}
.wrapper {
	padding: 10px;
	border: 1px solid #e0e4f0;
	border-radius: 12px;
}

.lastChild {
	border-bottom: none;
}

td {
	border-bottom: 1px solid #e0e4f0;
	height: 30px;
	width: 620px;
	line-height: 30px;
}

.topic {
	font-weight: 500px;
	font-size: 20px;
	line-height: 1.25;
}
